@charset "UTF-8";

body {
    margin:0;
    background-color: #eeeeee;
}

.header {
    background-color: #ffffff;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #cccccc;
}

#super_canvas {
    display: block;
    margin: 20px auto;
    background-color: #bbbbbb;
    border: 4px solid #999999;
}

.sliders {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.result {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;

    background-color: #ffffff;
    border: 4px solid #cccccc;
}

.result p {
    margin: 10px 0;
}
.result span {
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}
#GLineLength {
    color: lime;
}
#BGAngle {
    color: cyan;
}
#RGAngle {
    color: orange;
}